.mapContainer {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.mapContainer :global(.leaflet-layer),
.mapContainer :global(.leaflet-control-zoom-in),
.mapContainer :global(.leaflet-control-zoom-out),
.mapContainer :global(.leaflet-control-attribution) {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
} 